@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
         @Html.AntiForgeryToken()
        <ul class="navbar-nav ms-auto">
           <li class="nav-item">
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { @class = "nav-link text-light text-decoration-none fs-5" })
            </li>
            <li class="nav-item"><a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link text-light text-decoration-none fs-5">LogOff</a></li>
       </ul>

    }

}
else
{
 <ul class="navbar-nav ms-auto">

        <li class="nav-item">
            <a class="nav-link text-light text-decoration-none  fs-4" href="/Account/Register"><span class="glyphicon glyphicon-user glyphicon-text-color-light"></span>SignUp</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light text-decoration-none  fs-4" href="/Account/Login"><span class="glyphicon glyphicon-log-in"></span>Login</a>
        </li>
    </ul>

}





